services:
  database-mssql:
    build:
      context: mssql
      dockerfile: Dockerfile
      tags:
        - localhost:32000/conf-mssql:latest
    image: localhost:32000/conf-mssql:latest
    privileged: true
    ports:
      - PORT_DB:1433
    volumes:
      - mssql-data:/var/opt/mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: Qwerty.1
      MSSQL_PID: Express
    healthcheck:
      test: [ "CMD-SHELL", "/usr/config/healthcheck.sh" ]
      interval: 10s
      timeout: 5s
      retries: 60
      start_period: 30s

  backend-mssql:
    build:
      context: backend
      dockerfile: Dockerfile
      tags:
        - localhost:32000/conf-backend-mssql:latest
    image: localhost:32000/conf-backend-mssql:latest
    env_file:
      - ./backend/backend.env
    depends_on:
      database-mssql:
        condition: service_healthy
    ports:
      - PORT_BACKEND:8080

  frontend-mssql:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      tags:
        - localhost:32000/conf-frontend-mssql:latest
    image: localhost:32000/conf-frontend-mssql:latest
    depends_on:
      - backend-mssql
    ports:
      - PORT_FRONTEND:80


volumes:
  mssql-data: