<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-title">Witaj</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSumitedLogined(loginForm)">
      <div class="container-form">
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput type="text" formControlName="username" id="username" />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="password" id="password" />
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" class="full-width">Zaloguj</button>
      </div>
    </form>
  </mat-card>
</div>
