<mat-toolbar color="primary" class="navbar">
  <a class="navbar-brand" href="">Furnace Light</a>

  <!-- Menu (widoczne na większych ekranach) -->
  <span class="spacer"></span>
  <nav class="menu">
    <a mat-button routerLink="order/list">Zlecenia</a>
    <a mat-button routerLink="task/list">Zadania</a>
    <a mat-button routerLink="employee/list">Pracownicy</a>
    <a mat-button routerLink="agreement/list">Umowy</a>
  </nav>

  <!-- Profil użytkownika -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-button">
    <img src="assets/icon/profilIcon-removebg-preview.png" width="40px" alt="Profile" height="40"/>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">Wyloguj</button>
  </mat-menu>
</mat-toolbar>
